<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="linktype" value="TCP"/> 
    <add key="REMOTEMANAGERURL" value="net.tcp://localhost:10001/RemoteManager"/>    
	<add key="appName" value="ShotBoxSDKPaging"/>
	<add key="appPort" value="12282"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
